[http]
	proxy = socks://127.0.0.1:20170
[https]
	proxy = socks://127.0.0.1:20170
[user]
	name = aucker
	email = aucker@qq.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true