# SPDX-License-Identifier: Apache-2.0
#
# Note: The list of ForEachMacros can be obtained using:
#
#    git grep -h '^#define [^[:space:]]*FOR_EACH[^[:space:]]*(' include/ \
#    | sed "s,^#define \([^[:space:]]*FOR_EACH[^[:space:]]*\)(.*$,  - '\1'," \
#    | sort | uniq
#
# References:
#   - https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#   - https://g.co/gemini/share/ffd8ecb24950

---
BasedOnStyle: LLVM
AlignConsecutiveMacros: AcrossComments
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AttributeMacros:
  - __aligned
  - __deprecated
  - __packed
  - __printf_like
  - __syscall
  - __syscall_always_inline
  - __subsystem
BitFieldColonSpacing: After
BreakBeforeBraces: Linux
ColumnLimit: 120
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IfMacros:
  - 'CHECKIF'
IncludeBlocks: Regroup
# IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^(<|")({{basename}}|{{basename_root}})\.(h|hpp|hxx)>?$' # Matches <basename.h> or "basename.h"
    Priority: 1
  - Regex: '^<[a-zA-Z_][a-zA-Z0-9_]*\.h>$'
    Priority: 2
  - Regex: '^".*\.h"'
    Priority: 3
  # - Regex: '.*'
  #   Priority: 2
SortIncludes: CaseInsensitive
IndentCaseLabels: false
IndentGotoLabels: false
IndentWidth: 8
InsertBraces: true
SpaceBeforeInheritanceColon: False
SpaceBeforeParens: ControlStatementsExceptControlMacros
UseTab: ForContinuationAndIndentation
WhitespaceSensitiveMacros:
  - COND_CODE_0
